<!DOCTYPE html>
<html>
<head>
<style>
img{
width:20%;
height:10%;
padding:20px;
margin-top:5px;
}
</style>
<title>
    Info
</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/index.css">
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"> 

</head>

<body>
    <div class="navbar">
        <a href="/predict" >PREDICT</a>
        <a href="/guide">ECG</a>
        <a href="/home">HOME</a><br>
    </div>

    <div class="container" >
         <p>
             <h2>
                 Types of Arrhythmia
            </h2>

        <b>
            <font color = "#bb8206">
                Supraventricular arrhythmias :
            </font>
        </b> 
            Arrhythmias that begin in the atria (the heart's upper chambers). "Supra” means above. 
            “Ventricular” refers to the lower chambers of the heart or ventricles. <br>
        <b>
            <font color = "#bb8206">
                Ventricular arrhythmias :
            </font>
        </b> 
            Arrhythmias that begin in the ventricles (the heart's lower chambers).<br>
        <b>
            <font color = "#bb8206">
                Bradyarrhythmias :            
            </font>
        </b> 
            Slow heart rhythms that may be caused by disease in the heart's conduction system, 
            such as the sinoatrial (SA) node, atrioventricular (AV) node or HIS-Purkinje network.<br>
        </p>
        
        <h2>
            Symptoms of Arrhythmia
        </h2>
        
        <ol style="display:inline-table;">
            <li>
                A feeling of skipped heartbeat or that your heart is “running away,” fluttering or doing "flip-flops.
            </li>
            <li>
                Pounding in your chest.
            </li>
            <li>
                Dizziness or feeling lightheaded.
            </li>
            <li>
                Shortness of breath.
            </li>
            <li>
                Chest discomfort.
            </li>
            <li>
                Weakness or fatigue (feeling very tired).
            </li>
            <li>
                Weakening of the heart muscle or low ejection fraction.
            </li>
        </ol>


        <h2>
            Causes of Arrhythmia
        </h2>
        
        <ol style="display:inline-table;">
            <li>
                Coronary artery disease.
            </li>
            <li>
                Irritable tissue in the heart (due to genetic or acquired causes).
            </li>
            <li>
                High blood pressure.
            </li>
            <li>
                Changes in the heart muscle (cardiomyopathy).
            </li>
            <li>
                Valve disorders.
            </li>
            <li>
                Electrolyte imbalances in your blood, such as sodium or potassium imbalances.
            </li>
            <li>
                Injury from a heart attack.                
            </li>
            <li>
                The healing process after heart surgery.
            </li>
            <li>
                Other medical conditions.
            </li>
        </ol>

    </div>
</body>

</html>